body {
  font-family: "Open Sans", "sans-serif";
  background-color: #f9fafc;
}
nav {
  flex-direction: column;
  display: inline-flex;
  margin: 25px 0px;
}
h1 {
  color: #000;
  font-size: 130%;
  font-weight: 100;
  margin: 0px 3px;
}
a {
  text-decoration: none;
  color: #69696a;
}
.container1 {
  list-style: none;
  padding: 0px 7px;
}
li {
  margin: 15px 0px;
  font-size: 110%;
}
.button1 {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  height: 45px;
  width: 550px;
  border-style: none;
  font-size: 17px;
  text-align: center;
  margin: 5px;
}
h2 {
  font-size: 220%;
  font-weight: 200;
  margin: 5px 10px;
}
div {
  margin: 10px;
  padding: 0px;
}

p {
  color: #69696a;
  font-size: 100%;
  display: inline-block;
  border-left: 5px solid #69696a;
  margin: 0;
  padding: 0 7px;
}
.button2 {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  height: 45px;
  width: 100%;
  margin-top: 15px;
  border-style: none;
  font-size: 17px;
  text-align: center;
}
.circles {
  display: none;
}
@media screen and (min-width: 768px) {
  .firstbox {
    flex-direction: row;
    display: inline-flex;
    margin: 0 10px;
    padding: 10px;
  }
  h1 {
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px;
  }
  .container1 {
    display: inline;
    justify-content: flex-end;
    align-items: flex-end;
  }
  li {
    margin: 10px;
    flex-direction: row;
    display: inline;
  }
  .button1 {
    border-radius: 10px;
    height: auto;
    width: auto;
    font-size: auto;
    text-align: center;
    justify-content: flex-end;
  }
  h2 {
    font-size: 150%;
  }
  p {
    width: 40%;
    font-size: 90%;
  }
  .button2 {
    width: 120px;
    align-items: flex-end;
    justify-content: flex-end;
    margin: auto;
    margin-top: 20%;
    position: relative;
  }
  .circle1 {
    display: inline-flex;
    border-radius: 50%;
    background-color: grey;
    color: rgba(207, 130, 213, 0.6);
    height: 40px;
    width: 30px;
    margin-right: 40px;
  }
  .dot2 {
    color: rgba(247, 193, 162, 0.7);
  }
  .dot3 {
    color: rgba(247, 136, 167, 0.6);
  }
}
